@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i');

html, body {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html, body {
        font-family: 'Inter var', sans-serif;
    }
}

:root {
    --transition: 0.3s all;
    --primary-color: #ad1457;
    --primary-foreground: #fff;
    --body-text: #222;
    --body-text-light: rgba(34, 34, 34, 0.5);
    --background: #fff;
    --code-bg: #f1f1f1;
    --code-fg: #222;
}

::selection {
    background: var(--primary-color);
    color: var(--primary-foreground);
}

::-moz-selection {
    background: var(--primary-color);
    color: var(--primary-foreground);
}

body {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.2rem;
    background: var(--background);
    color: var(--body-text);
    transition: var(--transition);
    line-height: 1.8rem;
}

.header-logo {
    width: 24rem;
    align-self: center;
}

nav {
    margin: 2rem 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
    padding: 0.2rem 0.4rem;

    border-radius: 4px;

    transition: var(--transition);

    background: transparent;
    color: #333;
}

nav ul li a {
    text-decoration: none;
    color: var(--body-text);

    transition: var(--transition);
}

nav ul li:not(.active):not(.nohover):hover {
    background: var(--primary-color);
}

nav ul li:not(.active):hover a {
    color: var(--primary-foreground);
}

nav ul li.active a {
    color: var(--primary-color);
    pointer-events: none;
    font-weight: 600;
}

.rot-45 {
    display: inline-block;
    transform: rotate(315deg);
    opacity: 0.5;
    font-variant-ligatures: contextual;
}

.page-section {
    margin: 1rem 18vw 10rem;
}

.page-section h1 {
    font-size: 2.4rem;
}

.page-section p {
    text-align: justify;
    text-justify: inter-word;
}

.a-btn {
    padding: 0.1rem 0;
    color: var(--body-text-light);
    text-decoration: none;
    transition: var(--transition);

    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.a-btn:hover {
    color: var(--primary-color);
}

.page-section .a-btn:not(:last-child) {
    margin-right: 1rem;
}

.theme-switcher {
    align-self: center;
}

.theme-switcher label {
    cursor: pointer;
}

.theme-switcher label img {
    height: 1.3rem;
    width: 1.3rem;
    filter: invert(1);
}

.theme-switcher input {
    display: none;
}

.page-section p code {
    padding: 0;
    background: none;
    color: var(--body-text);

    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.9rem;
}

.page-section code, .page-section p .highlighted-code {
    background: var(--code-bg);
    color: var(--code-fg);

    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.9rem;

    padding: 0.2rem 0.3rem;
    border-radius: 4px;
}

.inline-icon-shifted {
    width: 1.2rem;
    transform: translateY(0.35rem);
    fill: var(--body-text);
}

.inline-icon {
    width: 1.1rem;
    transform: translateY(0.1rem);
    fill: var(--body-text);
}

.h-split {
    display: flex;
    margin: 2rem 0;
}

.h-split-left {
    width: 60%;
    margin-right: 5%;
}

.h-split-right {
   width: 35%;
}

.h-split-right img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

    transition: var(--transition);
    cursor: pointer;
}

.h-split-right img:first-of-type {
    margin-top: 4.5rem;
}

.h-split-right img:active {
    border-radius: 2px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
    transform: scale(2.5);
}

@media (max-width: 960px) {
   .h-split {
       display: flex;
       flex-direction: column;
   }
    .h-split-left {
        width: 100%;
        margin-right: 0;
    }

    .h-split-right {
        width: 100%;
    }

    .page-section {
        margin: 1rem 8vw 10rem;
    }
}